.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 20px rgb(150, 150, 150);
    margin: 2% 20%;
  }

  .form h1 {
    padding: 0.2em;
    color: white;
    font-weight: bold;
    font-size: 300%;
  }

  .form div {
    margin: 2%;
  }

  .form label {
    margin: 1%;
    padding: 0.2em;
    color: white;
    font-weight: bold;
  }

  .form input {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1%;
  }

  .form select {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1%;
    margin-bottom: 2%;
  }

  .form p {
    margin: 1%;
    padding: 0.2em;
    color: rgb(252, 103, 103);
    font-weight: bold;
    font-size: large;
  }

  .types {
    margin: 1%;
    padding: 0.2em;
    color: rgb(133, 255, 114);
    font-weight: bold;
    font-size: 125%;
    cursor: pointer;
  }

  .button_enabled {
    background-color: rgb(133, 255, 114);
    margin: 5%;
    padding: 2%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;
  }

  .button_disabled {
    background-color: rgb(250, 186, 186);
    color: rgb(125, 125, 125);
    margin: 5%;
    padding: 2%;
    font-weight: bold;
    font-size: large;
  }