
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    color: white;
    align-items: center;
}

.linkdiv a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.linkdiv {
    margin: 0 3%;
}


